.plus {
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi a{
    color: grey;
}

.navi a.active{
    color: black;
}

.playlist th span {
    color: grey;
}

/* The container for checkmark*/
.checkContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: grey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkboxProt {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid grey;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 13px;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkContainer input:checked ~ .checkmark {
    display: block;
  }
  